.controleKey label{
    font-weight: normal;
}

.controleKey .panel-heading {
    text-transform: uppercase;
}

.controleKey a {
    color: #404040;
}

.controleKey h1, .controleKey .h1 {
    font-size: 26px;
}

.controleKey h2, .controleKey .h2{
    font-size: 24px;
    font-weight: 200;
}

.controleKey h3, .controleKey .h3{
    font-size: 20px;
}

.controleKey {
    background-color: #f6f6f6;
    color: #404040;
    font-family: 'Source Sans Pro', sans-serif;
}

.usuarioKey {
    margin: 20px 0px 0 0;
}

.pesquisaKey{
    padding: 20px;
}

.painelKey {
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 0 !important;
    border: none !important;
    padding: 20px;
}

.painelKey-largo {
    width: calc(100% - 460px);
}

.painelKey-estreito{
    width: 450px;
    margin-right: 10px;
}

.listaKey{
    padding: 0;
}

.listaKey ul {
    padding: 0;
    margin-top: 10px;
}

.listaKey li {
    padding: 15px 25px;
    border-bottom: 1px solid #ececec;
    list-style: none;
}

.listaKey li:last-child {
    border: none;
}

.tituloKey {
    margin: 8px 0;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 600;
}

.papeisKey{
    border-left: 1px solid #ececec;
    padding-left: 40px;
}

.papeisKey:first-child{
    border-left: none;
}

@media (max-width: 992px){
    .papeisKey{
        border-bottom: 1px solid #ececec;
        border-left: none;
    }

    .papeisKey:last-child{
        border-bottom: none;
        border-left: none;
    }
}

.boldKey{
    font-weight: 600;
}

.botoesKey button{
    border-radius: 0;
}

.botoesKey {
    top: 20px;
    position: relative;
}

.escuroKey{
    background: #505050;
    border-color: #505050;
}

.escuroKey:hover{
    background: #757575;
    border-color: #757575;
}

.escuroKey:focus{
    background: #757575;
    border-color: #757575;
}

.escuroKey:active{
    background: red;
    border-color: #757575;
}

.procempaKey {
    margin: 20px 0 20px 0;
}

.selecaoKey{
    background-color: #efefef;
    border-left: 5px solid #505050;
}
